/* css reset */
*{
    margin: 0;
    padding: 0;
}
body,html{
    font-family: PingFangSC-Light,-apple-system,PingFang SC,Helvetica Neue,Helvetica,Microsoft YaHei,Arial,sans-serif;;
}
/* 网页头 */
header{
    width: 100%;
    height: 50px;
    background: #000;
    line-height: 50px;
}
.headerContent{
    width: 1040px;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
}
.headerContent>li{
    padding-left: 30px;
}
.headerContent>li>a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-family: PingFangSC-Light,-apple-system,PingFang SC,Helvetica Neue,Helvetica,Microsoft YaHei,Arial,sans-serif;
}
.headerContent>li>a:hover{
    color: #aaa;
}
.headerContent>li>input{
    width: 50px;
    height: 16px;
    background-color: #000;
    outline: none;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 10px;
    color: #fff;
    text-indent: 4px;
}
.profilePhoto{
    height: 37px;
    width: 37px;
    /* background-color: lightblue; */
    margin-top: 6px;
}
/* 内容顶部 */
.homeTop{
    position: relative;
    width: 1040px;
    height: 470px;
    margin: 25px auto 25px;
    /* background-color: rgba(0, 255, 255, 0.253); */
    display: flex;
    justify-content: space-between;
}
.topLeft{
    width: 19.3%;
    height: 470px;
    border: 1px solid #00000010;
    /* background-color: rgba(34, 139, 34, 0.377); */
    position: relative;
}
.topRight{
    width: 815px;
    height: 470px;
    background-color: rgba(184, 135, 11, 0.151);
}
/* 顶部 左边 logo */
.homeLogo{
    padding: 17px 25px 47px;
    border-bottom: 1px solid #00000010;
}
.homeLogo>img{
    width: 160px;
}
/* 顶部 左边列表 */
.leftList{
    box-sizing: border-box;
    padding: 10px;
}
.leftList>div{
    clear: both;
    /* height: 20px; */
    line-height: 20px;
}
.leftList>div>a{
    text-decoration: none;
    color: #191919;
    font-size: 14px;
}
.leftList .iconfont{
    font-size: 13px;
    font-weight: bolder;
}
/* .viewStore{
    margin: 0 auto;
} */
.leftList>div>ul{
    list-style: none;
    display: block;
    /* 隐藏时的样式 */
    height: 0px;
    overflow: hidden;
    transition: height .5s ease;
}
/************************/
/* 左边列表动作相关 */
.open{
    display: block;
}
.open:nth-child(1)>ul{
    height: 90px !important;
}
.open:nth-child(2)>ul{
    height: 75px !important;
}
.open:nth-child(3)>ul{
    height: 75px !important;
}
.open:nth-child(4)>ul{
    height: 30px !important;
}
.open:nth-child(5)>ul{
    height: 30px !important;
}
.open:nth-child(6)>ul{
    height: 45px !important;
}
/************************/

.leftList>div>ul>li{
    float: left;
}
.leftList>div>ul>li>a{
    text-decoration: none;
    padding-right: 5px;
    color: #a4b4d1;
}
.leftList>div>ul>li>a:hover{
    color: #2eacff;
}
/* 每项的开头元素加粗 */
.leftList>div>ul>li:first-child,
.leftList>div>ul>br+li{
    font-weight: 600;
}
/* 查看装备商店 */
.viewStore>a{
    color: #a4b4d1;
    width: 100%;
    margin: 0 auto;
    padding: 3px 0;
    position: absolute;
    bottom: 5px;
    text-decoration: none;
    text-align: center;
}
.viewStore>a:hover{
    color: #2eacff;
}
/* 顶部 右边 */
.topRight{
    width: 830px;
    height: 470px;
    display: flex;
}
/* 顶部 右边 左边 */
.topRightLeft{
    width: 80%;
    height: 470px;
    background-color: rgba(255, 192, 203, 0.199);
}
/* 顶部 右边 右边 */
.topRightRight{
    width: 20%;
    height: 470px;

}
/* 定位使用position */
/* 绝对定位父元素  relative */
.topRightLeft,.topRightRight{
    /* position: relative; */
}
/* 定位子元素 absolute */
.topRightLeft>div,.topRightRight>div{
    /* position: absolute; */
}
/* 右边的左边部分 搜索框+热词 */
.topRightLeft{
    /* position: relative; */
}
.topRightLeft>div{
    padding-top: 0px;
    width: 100%;
    /* height: 110px; */
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
}
.topRightLeft>div:first-child>div{
    width: 50%;
    /* position: absolute;
    left: 20%;
    top: 21%; */
    border-bottom: 2px solid #000;
}
.topRightLeft>div>div>span{
    font-size: 20px;
    font-weight: bolder;
}
.topRightLeft>div>div>input{
    width: 92%;
    height: 25px;
    border: none;
    background-color: transparent;
}
.topRightLeft>div>button{
    margin-left: 10px;
    width: 60px;
    background-color: #000;
    border: none;
    color: #fff;
    font-weight: bold;
}
.topRightLeft>div:nth-child(2){
    display: block;
    padding-top: 13px;
    padding-left: 140px;
    width: 47%;
    line-height: 22px;
    color: #4a4a4a;
}
.topRightLeft>div:nth-child(2)>span{
    margin-right: 8px;
}

/* 主体内容 */
.topRightLeft>.topmain1{
    display: block;
    margin-top: 15px;
    width: 100%;
    height: 370px;
    /* background-color: #000; */
    position: relative;
}
.topRightLeft>.topmain1>div:nth-child(1){
    width: 460px;
    height: 370px;
    background-color: rgb(201, 141, 141);
    position: absolute;
    top: 0;
    left: 0;
}
.topRightLeft>.topmain1>div:nth-child(2){
    width: 188px;
    height: 220px;
    background-color: rgb(79, 160, 142);
    position: absolute;
    top: 0px;
    right: 8px;
}
.topRightLeft>.topmain1>div:nth-child(3){
    width: 188px;
    height: 142px;
    background-color: rgb(202, 109, 109);
    position: absolute;
    bottom: 0px;
    right: 8px;
}
.topRightRight{
    width: 166px;
    height: 470px;
    /* margin-top: 100px; */
    /* background-color: #fff; */
}
.topRightRight>div:nth-child(1){
    width: 166px;
    height: 142px;
    position: absolute;
    background-color: rgb(115, 206, 120);
    top: 100px;
    right: 0px;
}
.topRightRight>div:nth-child(2){
    width: 166px;
    height: 220px;
    position: absolute;
    background-color: rgb(63, 143, 218);
    bottom: 0px;
    right: 0px;
}
.topRightRight>img{
    height: 100px;
    position: absolute;
    top: 0px;
    right: 15px;
}